name: End-to-End Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run-e2e-tests:
    name: Call E2E Tests
    uses: ministryofjustice/nsm-e2e-test/.github/workflows/run-e2e-tests.yml@main
    secrets: inherit
