name: End-to-End Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  run-e2e-tests:
    name: Call E2E Tests
    uses: ministryofjustice/nsm-e2e-test/.github/workflows/run-e2e-tests.yml@4485f6da019c2bb0c4f0c7d29400c698468c55e6
    secrets: inherit
    permissions:
      id-token: write
      contents: read
