name: "Run E2E Tests"
description: "Run end-to-end tests for the LAA crime forms services"

on:
  workflow_call:
    inputs:
      submit-sha:
        description: 'SHA hash of the container image to use for laa-submit-crime-forms'
        default: 'latest'
        required: false
        type: string
      assess-sha:
        description: 'SHA hash of the container image to use for laa-assess-crime-forms'
        default: 'latest'
        required: false
        type: string
      appstore-sha:
        description: 'SHA hash of the container image to use for laa-crime-application-store'
        default: 'latest'
        required: false
        type: string


jobs:
  pull-images:
    name: "Pull image for ${{ matrix.service.name }}"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    strategy:
      matrix:
        include:
          - name: laa-submit-crime-forms
            service_key: SUBMIT
            sha: ${{ inputs.submit-sha }}
            cache_key: docker-submit-${{ inputs.submit-sha }}
          - name: laa-crime-application-store
            service_key: APP_STORE
            sha: ${{ inputs.appstore-sha }}
            cache_key: docker-appstore-${{ inputs.appstore-sha }}
          - name: laa-assess-crime-forms
            service_key: ASSESS
            sha: ${{ inputs.assess-sha }}
            cache_key: docker-assess-${{ inputs.assess-sha }}
    steps:
      - shell: bash
        run: mkdir -p ~/image-cache

      - id: image-cache
        uses: actions/cache@v3
        with:
          path: ~/image-cache
          key: ${{ matrix.cache_key }}

      - name: Configure AWS credentials and pull image
        if: steps.image-cache.outputs.cache-hit != 'true'
        uses: ministryofjustice/laa-reusable-github-actions/.github/actions/ecr-auth@e5500aa20b13a1406fe8a62b8788181a2ca18926
        with:
          ecr_role: ${{ secrets[format('{0}_DEV_ECR_ROLE_TO_ASSUME', matrix.service_key)] }}
          ecr_region: ${{ vars[format('{0}_DEV_ECR_REGION', matrix.service_key)] }}
          role-session-name: ${{ vars.ECR_ROLE_SESSION_NAME }}

      - name: Pull and save image
        if: steps.image-cache.outputs.cache-hit != 'true'
        shell: bash
        run: |
          IMAGE_URL="${{ secrets.ECR_REGISTRY_URL }}/${{ vars[format('{0}_DEV_ECR_REPOSITORY', matrix.service_key)] }}:${{ matrix.sha }}"
          docker pull $IMAGE_URL
          docker save -o ~/image-cache/${{ matrix.name }}.tar $IMAGE_URL

  run-e2e-tests:
    name: "Run E2E Tests"
    needs: pull-images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout E2E Test Repository
        uses: actions/checkout@v3
        with:
          repository: ministryofjustice/nsm-e2e-test
          path: e2e-tests

      - shell: bash
        run: mkdir -p ~/image-cache

      - name: Restore submit image
        uses: actions/cache@v3
        with:
          path: ~/image-cache
          key: docker-submit-${{ inputs.submit-sha }}

      - name: Restore appstore image
        uses: actions/cache@v3
        with:
          path: ~/image-cache
          key: docker-appstore-${{ inputs.appstore-sha }}

      - name: Restore assess image
        uses: actions/cache@v3
        with:
          path: ~/image-cache
          key: docker-assess-${{ inputs.assess-sha }}

      - name: Load Docker images
        shell: bash
        run: |
          for image_tar in ~/image-cache/*.tar; do
            docker load < "$image_tar"
          done

      - name: Install docker-compose
        run: sudo apt install docker-compose

      - name: Build and check/wait for services
        shell: bash
        working-directory: e2e-tests
        run: |
          docker-compose build
          docker-compose run start_applications

      - name: Run end-to-end tests
        shell: bash
        working-directory: e2e-tests
        run: docker-compose run laa-crime-forms-end-to-end-tests

      - name: Output container logs on failure
        if: failure()
        shell: bash
        working-directory: e2e-tests
        run: docker-compose logs
